<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/pokedexStyle.css">
    <link rel="stylesheet" href="../stylesheets/createAccount.css">

    <title>Title</title>


</head>
<body>
<nav id="navbar">
    <div id="Pokeball"></div>
    <div id="navbarContent">
        <ul><li></li></ul>
        <ul><li></li></ul>
        <ul><li></li></ul>
        <ul><li></li></ul>
    </div>
    <div id="navBlackBox"></div>
</nav>

<div id="createAccMainContent">
    <form id="formContainer">
        <div id="genderSelect">
            <span id="genderDia">What gender are you?</span><br>
            <div id="genderOptions">
                    <label id="boy">
                    <input type="radio" name="gender" value="male">
                    Boy
                </label>
                <label id="girl">
                    <input type="radio" name="gender" value="male">
                    Girl
                </label>
                <label id="other">
                    <input type="radio" name="gender" value="male">
                    Other
                </label>
                <label id="preferNotToSay">
                    <input type="radio" name="gender" value="male">
                    Prefer not to say
                </label>
            </div>
        </div>

        <div id="test"></div>

    </form>
</div>

<footer>

</footer>
</body>
</html>
