<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/pokedexStyle.css">
</head>
<body>
<nav id="navbar">
    <div id="Pokeball"></div>
    <div id="navbarContent">
        <ul><li></li></ul>
        <ul><li></li></ul>
        <ul><li></li></ul>
        <ul><li></li></ul>
    </div>
    <div id="navBlackBox"></div>
</nav>
    <div id="indexContent">
        <div id="topContainer">
            <button class="customButton">Create Account</button>
            <span id="homePokeball"></span>
            <button class="customButton">Login</button>
        </div>
        <div id="midContainer">
            <div id="diaCaroContainer">
                <div id="carousel"></div>
                <div id="diaBox"><p>Welcome to the world of Pokemon!</p></div>
            </div>
            <div id="profOak"></div>
        </div>
        <div id="bottomContainer">
            <div id="bottomHeader">
                <h2>Pokémon Preview</h2>
                <button id="viewAllBtn">View All</button>
            </div>
            <div id="carouselWrapper">
                <button id="carouselLeft" class="carouselArrow">&lt;</button>

                <div id="pokemonCarousel">

                </div>

                <button id="carouselRight" class="carouselArrow">&gt;</button>
            </div>
        </div>
    </div>


<script>
    const homepageMons = <%- JSON.stringify(homepageMons) %>;


</script>
<script src="../javascripts/indexJS.js"></script>
</body>
</html>