/*DEV NOTE:I am aware there's a lot of redundency and lack of DRY within my css. I could have organized it better.*/
@font-face {
    font-family: "PokemonFont";
    src: url("../resources/pokemonFont.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background: lightgrey;
}

#mainContent {
    z-index: -1;
    top: -10%;
    margin-left: 120px;
    width: calc(90% - 103px);
    border: 1px solid black;
    background-size: cover;
    background: #cce0ff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#sideAndBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#paginationBtns {
    align-self: flex-end;
    width: calc(25% - 103px);
    margin-left: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
}

#sideContent {
    width: 20%;
    height: 56vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 200px;
    margin-left: 10px;
    position: sticky;
    top: 200px;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 30% 30%, rgba(0, 255, 200, 0.25), rgba(0, 50, 70, 0.6)), linear-gradient(135deg, rgba(0, 255, 255, 0.12), rgba(0, 100, 255, 0.2));
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.3), 0 0 24px rgba(255, 0, 255, 0.2);
}

#radarChart {
    padding: 0;
    width: 50px;
    height: 50px;
}

#addPokemonBtn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 12%;
}





#pokedexBody {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
    width: 70%;
    margin-left: auto;
    margin-top: 200px;
    padding-right: 5%;
    /*border: 1px solid green;*/
}

.pokedexEntry {

    font-family: PokemonFont;
    width: 23%;
    height: 400px;
    border: 6px ridge black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 30%, rgba(0, 255, 200, 0.25), rgba(0, 50, 70, 0.6)),
    linear-gradient(135deg, rgba(0, 255, 255, 0.12), rgba(0, 100, 255, 0.2));

    box-shadow: 0 0 12px rgba(0, 255, 255, 0.3),
    0 0 24px rgba(255, 0, 255, 0.2);
}

.pokedexImage {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

.pokedexDetail {
    flex: 1;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 3px solid green;*/
    text-align: center;
}
#sideDex {
    border: 2px solid black;
    box-sizing: border-box;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    background-size: 300% 300%;

    animation: gradiantAnimation 10s ease infinite;
    filter: hue-rotate(10deg) brightness(1.2);
}
@keyframes gradiantAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-left: -10px;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
    }
}

.detailsBtn {
    margin-top: 10px;
    font-family: PokemonFont;
    padding: 6px 10px;
    border: 1px solid black;
    background: lightgreen;
    border-radius: 6px;
    cursor: pointer;
}